DEBUG=True

#django

HOST_URL=edx.ru
SECRET_KEY=supersecretkey
ALLOWED_HOSTS=edx.ru
CSRF_TRUSTED_ORIGINS=https://edx.ru

#database

DB_NAME=db_name
DB_USER=db_user
DB_PASS=db_password
DB_HOST="database"
DB_PORT=5432

EMAIL_HOST_PASSWORD=smtp_password
EMAIL_HOST_USER=smtp_user
VIRTUAL_HOST=edx.ru
LETSENCRYPT_HOST=edx.ru
LETSENCRYPT_EMAIL=admin@edx.ru
VIRTUAL_PORT=8000

YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=