$white: #fff;
$lime: #ddff33;
$lime-80: #ddff33cc;
$lime-60: #ddff3399;
$lime-40: #ddff3366;
$lime-20: #ddff3333;
$lime-10: #ddff331a;
$lime-5: #ddff330d;
$base: #363940;
$base-80: #363940cc;
$base-60: #36394099;
$base-40: #36394066;
$base-20: #36394033;
$base-10: #3639401a;
$base-5: #3639400d;
$error: #b00020;
$gradient: linear-gradient(90deg, rgba(221, 255, 51, 0.4) 0%, rgba(221, 255, 51, 0.08) 100%);

$transition: all 300ms ease;
$container-width: 1216px;
